body {
            background-color:rgb(224, 233, 230);
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        h1 {
            color:rgb(235, 201, 190)
        }